<!DOCTYPE html>
<html>
<head>
    
    <title>CSE412 - Phase 3</title>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery UI Slider - Range slider</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        var min;
        var max;

        $( function() {
            $( "#slider-range" ).slider({
              range: true,
              min: 0,
              max: 5,
              step: 0.1,
              values: [ 0, 5 ],
              slide: function( event, ui ) {
                $( "#amount" ).val(ui.values[ 0 ] + " - " + ui.values[ 1 ] );

                min = $( "#slider-range" ).slider( "values", 0 )
                max = $( "#slider-range" ).slider( "values", 1 )

                console.log(min)
                console.log(max)
                document.forms["form"].elements["min"].value = min;
                document.forms["form"].elements["max"].value = max;
              }
            });
            $( "#amount" ).val($( "#slider-range" ).slider( "values", 0 ) +
              " - " + $( "#slider-range" ).slider( "values", 1 ) );



            min = $( "#slider-range" ).slider( "values", 0 )
            max = $( "#slider-range" ).slider( "values", 1 )

            console.log(min)
            console.log(max)
            document.forms["form"].elements["min"].value = min;
            document.forms["form"].elements["max"].value = max;

        });



    </script>



    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>


</head>
<body>
{#     <div>
        Microblog: 
        <a href="{{ url_for('index') }}"> Home </a> 
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}"> Login </a>    
        {% else %}
        <<a href="{{ url_for('logout') }}"> Logout </a>
        {% endif %}
    </div>  #} 

    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}



    <h1>Query from the Postgres Database!</h1>
    <form id="form" name="form" action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.movie.label }}<br>
            {{ form.movie(size=64) }}<br>
            {% for error in form.movie.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.tag.label }}<br>
            {{ form.tag(size=64) }}<br>
            {% for error in form.tag.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            <label for="amount">Average Rating:</label>
            <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
        </p>

        <div id="slider-range"></div>

        <input type="hidden" name="min">
        <input type="hidden" name="max">

        <p><input id="submit" name="submit" value="Submit" type="submit"></p>


    </form>


    {# Display Results #}
    <h1> Results </h1>

    <div id="charts">
        <canvas id="avgrating" width="400" height="100"></canvas>
        <script>
        var ctx = document.getElementById("avgrating").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["Action", "Adventure", "Animation", "Children's", "Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", 
                        "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"],
                datasets: [{
                    label: 'Average Rating',
                    data: [
                        {% if avg_ratings %}
                        {% for result in avg_ratings %}
                            {% if not loop.first %}
                                ,
                            {% endif %}
                            {{ result[1] }}

                        {% endfor %}
                        {% else %}
]                       0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
                        {% endif %}
                    ],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            max: 5,
                            min: 0,
                            stepSize: 1
                        }
                    }]
                }
            }
        });
        </script>
        <canvas id="count" width="400" height="100"></canvas>
        <script>
        var ctx = document.getElementById("count").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["Action", "Adventure", "Animation", "Children's", "Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", 
                        "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"],
                datasets: [{
                    label: 'Count',
                    data: [
                        {% if counts %}
                        {% for result in counts %}
                            {% if not loop.first %}
                                ,
                            {% endif %}
                            {{ result[1] }}

                        {% endfor %}
                        {% else %}
                        0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
                        {% endif %}
                    ],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            {% if max_count %}
                            max: {{ (max_count+(50-(max_count%50))) }},
                            {% else %}
                            max: 50,
                            {% endif %}
                            min: 0,
                            stepSize: {{ (max_count+(50-(max_count%50)))/5 }}
                        }
                    }]
                }
            }
        });
        </script>
    </div>

</body>
</html>
